@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body{

    background: #dfe9f5;
}
.contenedor{
    width: 330px;
    padding: 2rem 1rex;
    margin: 50px auto;
    background-color: #fff;
    border-radius: 10px;
    text-align: center;
}
.button-submit:hover{
background: rgba(17, 107, 143, 0.877);
}
input:focus{
    border: 1px solid rgb(192, 192, 192);
}
.terminos{
    margin-top: 0.2rem;

}
.button-submit{
    font-size: 1rem;
    margin-top: 1.8rem;
    padding: 10px 0;
    border-radius: 20px;
    outline: none;
    border: none;
    width: 90%;
    color: #fff;
    cursor: pointer;
    background: rgb(17, 107, 143);
}
form input{
    width: 92%;
    outline: none;
    border: 1px solid #fff;
    padding: 12px 20px;
    margin-bottom: 10px;
    border-radius: 20px;
    background: #e4e4e4;

}
